{% extends "base.html" %}
{% block content%}
    <h1>{{producto.nombre}} - {{producto.referencia}}</h1>
    <ul>
        <li>Talla: {{producto.talla}}  </li>
        <li>Tipo: {{producto.sexo}}  </li>
        <li>precio: {{producto.precio}}  </li>
        <li>Cantidad: {{producto.cantidad}}  </li>
        <li>Ultima ediciòn: {{producto.editado}}  </li>
    </ul>
    <a href="{% url 'productos.list' %}" class="btn btn-secondary my-5">Atras</a>
    <a href="{% url 'productos.update' pk=producto.id %}" class="btn btn-secondary my-5">Editar</a>
    <a href="{% url 'productos.delete' pk=producto.id %}" class="btn btn-danger my-5">Eliminar</a>
{% endblock %}