{% extends "base.html" %}
{% block content%}
    <h1>{{producto.nombre}} - {{producto.referencia}}</h1>

    <form method="post"   >{% csrf_token %}
        <div class="radioCon">
            <h3>Selecciona la ubicacion donde quieres contar</h3>
            {{form.radioTienda}} 
        </div>
    <div class="table-responsive " ></div>
        <table class="table table-striped table-sm ">
            
            <tr>
                <th >Caracteristica</th>
                <th>Valor</th>
            </tr>
            <tr>
                <td>Cantidad sistema:</td>
                <td >{{producto.cantidadSistema}}</td>
            </tr>
            <tr>
                <td>En tienda:</td>
                <td >
                    {{form.enTienda}}
                </td>
            </tr>
            <tr>
                <td>En bloque 2:</td>
                <td >
                    {{form.enBloque2}}
                </td>
            </tr>
            <tr>
                <td>En Blqoue 5:</td>
                <td >
                    {{form.enBloque5}}
                </td>
            </tr>
            <tr>
                <td>Ultima ediciòn:</td>
                <td>{{producto.editado}} </td>
            </tr>
        </table>
        <button type="submit"   class="btn btn-primary btn-lg mb-3"  >guardar</button>
    </form> 
    
    <div class="card">
        <button type="button"   id='plus' class="btn btn-success btn-lg"  >+</button>
    
        <button type="button"  id='minus'class="btn btn-danger btn-lg mt-5">-</button>      
    </div>   
    
    
    <a href="{% url 'productos.list' %}" class="btn btn-secondary my-5">Atras</a>
    <a href="{% url 'productos.update' pk=producto.id %}" class="btn btn-secondary my-5">Editar</a>
    <a href="{% url 'productos.delete' pk=producto.id %}" class="btn btn-danger my-5">Eliminar</a>
{% endblock %}