{% extends "base.html" %}
{% block content%}
<nav class="navbar navbar-light" style="background-color: #e3f2fd;">
    <div class="container">
      <a  class="navbar-brand" href="{% url 'productos.new'%}" >Crear</a>
      <a  class="navbar-brand btn btn-danger " href="{% url 'productos.deleteAll'%}" >Eliminar</a>
      </div>    
</nav>
    <h1>Estos son los productos:</h1>
    <div class="card">
        <div class="card-body">
        <form method='GET' id="buscar">
            <div class="input-group">
                <input type="search" class="form-control rounded" name="q" id="buscar" value="{{ request.GET.q }}" placeholder="Escriba la referencia o nombre" aria-label="Search" aria-describedby="search-addon" />
                <button type="submit" class="btn btn-outline-primary">Buscar</button>
            </div>
        </form>
        </div>
    </div>
    <div class="table-responsive " ></div>
    <form method='GET' id="filtro">
    <table  class="table table-striped table-sm ">
        <input type="text" id='orderID' name="order" value="" hidden>
        <tr>
            <th><a href="#" onclick="submit('referencia')">Referencia</a></th>
            <th><a href="#" onclick="submit('nombre')"> Nombre</a> </th>
            <th><a href="#" onclick="submit('cantidadSistema')"> Cantidad sistema</a></th>
            <th>Total</th>
            <th><a href="#" onclick="submit('diferencia')"> Diferencia</a></th>
        </tr>
        {% for producto in productos%}
        <tr>
            <td><a href="{% url 'productos.detail' pk=producto.id %}">{{producto.referencia}}</a></td>
            <td><a href="{% url 'productos.detail' pk=producto.id %}">{{producto.nombre}}</a></td>
            <td>{{producto.cantidadSistema}}</td>
            {% if producto.cantidadSistema != producto.enTienda|add:producto.enBloque2|add:producto.enBloque5 %}
            <td class="text-danger">
                {{producto.enTienda|add:producto.enBloque2|add:producto.enBloque5 }}
            </td>
            {% else %}
            <td >
                {{producto.enTienda|add:producto.enBloque2|add:producto.enBloque5 }}
            </td>
            {% endif %}
            {% if producto.diferencia < 0 %}
            <td class="text-danger">{{producto.diferencia}}</td>
            {% elif producto.diferencia > 0 %}
            <td >+{{producto.diferencia}}</td>
            {% else %}
            <td >
                {{producto.diferencia}}
            </td>
            {% endif %}
        </tr>
        {% endfor %}
    </table>
    </form>
    </div>
    <script>
        function submit(order){
        document.getElementById('orderID').value = order;
        document.getElementById('filtro').submit();
        }
    </script>
{% endblock %}
