{% extends "base.html" %}
{% load static %}
{% block content%}
<div class="form-group">
    <h2>{{note}}</h2>
    <form  method="POST"   id="myForm"    >{% csrf_token %}
        {{form.as_p}}
        <button type="submit" id="myButton" class="btn btn-primary my-5">Submit</button>
    </form>

    <div id="camara" >
    </div>
    <script  src="https://cdnjs.cloudflare.com/ajax/libs/quagga/0.12.1/quagga.min.js"></script> 
    <script src="{% static 'js/lector.js' %}"></script> 
</div>
{% endblock %}
        

