{% extends "base.html" %}
{% block content%}
<h1>Escoge la ubicacion</h1>
<ul  class="list-group">
    <il class="list-group-item">
        <a href="{% url 'lector.leerTienda'  %}">Tienda con maquina</a>
    </il>
    <il  class="list-group-item">
        <a href="{% url 'lector.leerBloque2'  %}">Bloque 2  con maquina</a>
    </il>
    <il  class="list-group-item">
        <a href="{% url 'lector.leerBloque5'  %}">Bloque 5  con maquina</a>
    </il>
    <il class="list-group-item">
        <a href="{% url 'lector.barcodeTienda'  %}">Tienda con celular</a>
    </il>
    <il  class="list-group-item">
        <a href="{% url 'lector.barcodeBloque2'  %}">Bloque 2  con celular</a>
    </il>
    <il  class="list-group-item">
        <a href="{% url 'lector.barcodeBloque5'  %}">Bloque 5  con celular</a>
    </il>
</ul>
{% endblock %}